body {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#ascii-container {
  padding-top: 20px;
  /* background-color: black; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

#a-container {
}
#c-container {
}
#mono-a {
  margin: 0%;
  font-size: 40vh;
  /* padding: 0px 50px 0px 50px; */
  font-family: courier, courier new, serif;
  line-height: 1;
  white-space: pre;
}
#mono-c {
  margin: 0%;
  line-height: 1;
  font-size: 40vh;
  /* padding: 0px 50px 0px 50px; */
  white-space: pre;
}
